<div class="mt-4">
<form method="post" action="/customer/create">
  <div class="container">
  <div class="form-group">
    <div>
    <label for="name">Họ và Tên</label>
    <input type="text" class="form-control" id="name" name = "name">
    </div>

    <div class="form-group">
    <label for="email">email</label>
    <input type="text" class="form-control" id="sdt" name = "email">
    </div>
    <div class="form-group">
    <label for="password">password</label>
    <input type="text" class="form-control" id="password" name = "password">
    </div>
  </div>
  <button type="#" class="btn btn-primary">Thêm Sản Phẩm</button>
</form>
 </div>
</div>

