
<div class="mt-4">
  <div class="container">
    <h3>Sửa thông tin khách hàng</h3>
  </div>

<div class="mt-4">
      <form method="post" action="/account{{user._id}}?_method=PUT">
        <div class="container">
        <div class="form-group">
          <div>
          <label for="name">name</label>
          <input type="text" class="form-control" value="{{users.name}}" id="name" name = "name">
          </div>
          <div class="form-group">
          <label for="email">email</label>
          <input type="text" class="form-control" value="{{users.email}}" name = "email">
          </div>
          <label for="password">password</label>
          <input type="text" class="form-control" value="{{users.password}}" name = "password">
          </div>
        </div>
        <button type="submit"  class="btn btn-primary" >sửa</button>
      </form>
  </div>
</div>


